a {
    border: 1px;
    margin: 15px;
    font-style: normal;
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

#brand {
    font-size: x-large;
}

.navbar-color {
    background-color: #258039;
    color: #000;
}